.collapsed, .accordion-button {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.accordion-collapse {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.preguntas-frecuentes a,
.preguntas-frecuentes a:hover {
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    text-decoration-line: underline !important;

    color: #7206B7 !important;
}